a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.sidebox li {
  display: inline-block;
  margin: 5px;
}

.sidebox li a {
  display: block;
  height: 60px;
  width: 60px;
}

.sidebox li a div {
  padding: 10px;
  border-radius: 100%;
  border: solid 1px rgba(0,0,0,0.5);
}

.sidebox li a:link div.item-normal {
  background-color: rgba(0,0,0,0);
  color: black;
}

.sidebox li a:hover div.item-normal {
  background-color: rgba(0,0,0,0.1);
  color: blue;
}

.sidebox li a:link div.item-black {
  background-color: rgba(0,0,0,1);
  color: white;
}

.sidebox li a:hover div.item-black {
  background-color: rgba(0,0,0,0.9);
  color: yellow;
}

.sidebox li a:link div.item-blue {
  background-color: rgba(0,0,255,1);
  color: yellow;
}

.sidebox li a:hover div.item-blue {
  background-color: rgba(0,0,255,0.8);
  color: red;
}

.sidebox li a:link div.item-cyan {
  background-color: rgb(210, 239, 233);
  color: black;
}

.sidebox li a:hover div.item-cyan {
  background-color: rgba(210, 239, 233, 0.8);
  color: red;
}

.item-normal, .item-black, .item-blue, .item-cyan {
  font-size: 24pt;
}
.item-black {
  background-color: black;
  color: white;
}
.item-blue {
  background-color: blue;
  color: yellow;
}
.item-cyan {
  background-color: rgb(210, 239, 233);
  color: black;
}
