doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Test Lunette Provisu
    link(rel='stylesheet', href='css/lunette.css', type='text/css')
  body#ext-provisu
    #ext-provisu-inner
      if i18n
        h1 #{i18n.appName.message}
      block content
    #sidebox
      ul
        li
          a(href=external, target="_blank")
            .item.item-normal De
        li
          a(href="javascript: alter(document, 'normal');")
            .item.item-normal  Aa
        li
          a(href="javascript: alter(document, 'black');")
            .item.item-black  Aa
        li
          a(href="javascript: alter(document, 'blue');")
            .item.item-blue  Aa
        li
          a(href="javascript: alter(document, 'cyan');")
            .item.item-cyan  Aa
        li
          a(href="javascript: alter(document, 'smaller');")
            .item.item-normal  A-
        li
          a(href="javascript: alter(document, 'bigger');")
            .item.item-normal  A+
//    script(src!=sanitizeHtml, type="text/javascript")
//    script(src!=lunette, type="text/javascript")
