doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Test Lunette Provisu
    link(rel='stylesheet', href='css/lunette.css', type='text/css')
    link(rel="icon", type="image/png", href="favicon.png")
    link(rel='stylesheet', href='bower_components/components-font-awesome/css/font-awesome.min.css')
  body#ext-provisu
    script(src!=sanitizeHtml, type="text/javascript")
    script(src!=lunette, type="text/javascript")
    ul#sidebox
      if redirect
        li
          a#default(href="#{redirect}")
            .item.item-normal
              i.fa.fa-eye(aria-hidden="true")
      li
        a#normal(href="javascript: alter(document, 'normal', { noParse: true });")
          .item.item-normal
            i.fa.fa-low-vision(aria-hidden="true")
      li
        a#black(href="javascript: alter(document, 'black', { noParse: true });")
          .item.item-black
            i.fa.fa-low-vision(aria-hidden="true")
      li
        a#blue(href="javascript: alter(document, 'blue', { noParse: true });")
          .item.item-blue
            i.fa.fa-low-vision(aria-hidden="true")
      li
        a#cyan(href="javascript: alter(document, 'cyan', { noParse: true });")
          .item.item-cyan
            i.fa.fa-low-vision(aria-hidden="true")
      li
        a#smaller(href="javascript: alter(document, 'smaller', { noParse: true });")
          .item.item-normal
            |A-
      li
        a#bigger(href="javascript: alter(document, 'bigger', { noParse: true });")
          .item.item-normal
            |A+
    #ext-provisu-inner.ext-provisu-under
      if i18n
        h1 #{i18n.appName.message}
      block content
