a.provisu-tooltip {
  position: relative;
}

a.provisu-tooltip span,
button.provisu-tooltip span {
  display: none;
}

a.provisu-tooltip:hover span,
a.provisu-tooltip:focus span,
button.provisu-tooltip:hover span,
button.provisu-tooltip:focus span {
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 6px;
  width: 420px;
  white-space: normal;
  font-size: 28px;
}

.tooltip-bk:link,
.tooltip-bk:visited {
  color: #ffffff;
  background-color: black;
}

.tooltip-bk:hover,
.tooltip-bk:focus,
.tooltip-bk:active,
.tooltip-bk.active {
  color: yellow;
}

.tooltip-bl:link,
.tooltip-bl:visited {
  color: yellow;
  background-color: blue;
}

.tooltip-bl:hover,
.tooltip-bl:focus,
.tooltip-bl:active,
.tooltip-bl.active {
  color: red;
}

.tooltip-cy:link,
.tooltip-cy:visited {
  color: black;
  background-color: rgb(210, 239, 233);
}

.tooltip-cy:hover,
.tooltip-cy:focus,
.tooltip-cy:active,
.tooltip-cy.active {
  color: red;
}
